/**
 * 0.0 BUTTONS
 * ----------------------------------------------------------------------------
 */

/* Default button [BLUE] */
button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"]
 {
  border-style: none;
  cursor: pointer;
  font-family: $sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  padding: 1rem 2rem;
  @include font-size();
  background-color: $primary-color;
  color: $white;
  @include transition;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  &:hover,
  &:active,
  &:focus {
    background-color: $secondary-color;
    color: $white;
    box-shadow: none;
    outline: 0;
  }
}

/* Secondary button [LIGHT GREY] */
.button--secondary {
  @extend .button;
  background-color: $grey_e;
  color: $black;
  &:hover,
  &:focus {
    background-color: $grey_c;
    color: $black;
  }
}

/* Success button [GREEN] */
.button--success {
  @extend .button;
  background-color: $emerald;
  color: $white;
  &:hover,
  &:focus {
    background-color: $nephritis;
    color: $white;
  }
}

/* Alert button [RED] */
.button--alert {
  @extend .button;
  background-color: $alizarin;
  color: $white;
  &:hover,
  &:focus {
    background-color: $pomegranate;
    color: $white;
  }
}

/* Warning button [ORANGE] */
.button--warning {
  @extend .button;
  background-color: $carrot;
  color: $white;
  &:hover,
  &:focus {
    background-color: $pumpkin;
    color: $white;
  }
}

/** BUTTON SIZING **/
.button--large {
  @extend .button;
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  @include font-size(18);
}

.button--small {
  @extend .button;
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  @include font-size();
}

.button--tiny {
  @extend .button;
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.25rem;
  @include font-size(14);
}

.button--expand {
  @extend .button;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

/** BUTTON RADIUS **/
.button--radius {
  @extend .button;
  @include radius();
}

.button--round {
  @extend .button;
  @include radius(1000px);
}
