//Variable
$grid-width-small  : 800px;
$grid-width        : 1024px;
$grid-width-large  : 1200px;

.grid-container {
  width: 100%;
  margin: 0 auto;
  max-width: $grid-width;
}

.grid-container--small {
  @extend .grid-container;
  max-width: $grid-width-small;
}

.grid-container--large {
  @extend .grid-container;
  max-width: $grid-width-large;
}
