// Media Query
$mobile    : 640px;
$tab       : 1024px;
$wall      : 1500px;


// Breackpoint Mixins
@mixin breakpoint($point) {
  @if $point == wall {
    @media screen and (min-width: $wall) { @content ; }
  }
  @else if $point == tab {
    @media screen and (min-width: $tab) { @content ; }
  }
  @else if $point == mobile {
    @media screen and (min-width: $mobile) { @content ; }
  }
}
