@charset "UTF-8";
/*
Framaework CSS
A SASS framework made by Lobae
Version    : 2.0
Author     : Matteo Chiti
Agency Site: http://www.lobae.com
Author Site: http://www.matteochiti.it
*/

@import 'font';
@import 'colors';
@import 'media-queries';
@import 'resets';
@import 'typography';
@import 'grid';

// 0.0 SASS Mixins
@mixin clearfix {
  zoom: 1;
  &:before {
    content: ''; display: block;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin radius($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  border-radius:         $radius;
}

@mixin transition($target: all, $sec: 0.2s) {
  transition:         $target $sec ease-in-out;
  -webkit-transition: $target $sec ease-in-out;
  -moz-transition:    $target $sec ease-in-out;
  -o-transition:      $target $sec ease-in-out;
}

/**
 * 0.0 Float
 * ----------------------------------------------------------------------------
 */

/* You can change the float behavior of an element by adding .left or .right to an HTML element.
   To clear floats, add the class .cl to the parent element. */

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.cl:before,
.cl:after {
  content: " ";
  display: table;
}
.cl:after {
  clear: both;
}

/**
 * 0.0 BUTTONS
 * ----------------------------------------------------------------------------
 */

/* Default button [BLUE] */
button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"]
 {
  border-style: none;
  cursor: pointer;
  font-family: $sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  padding: 1rem 2rem;
  @include font-size();
  background-color: $primary-color;
  color: $white;
  @include transition;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:hover,
button:active,
button:focus,
.button:hover,
.button:active
.button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus {
  background-color: $secondary-color;
  color: $white;
  box-shadow: none;
  outline: 0;
}

/* Secondary button [LIGHT GREY] */
button.secondary,
.button.secondary {
  background-color: $grey_e;
  color: $black;
}

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
  background-color: $grey_c;
  color: $black;
}

/* Success button [GREEN] */
button.success,
.button.success {
  background-color: $emerald;
  color: $white;
}

button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus {
  background-color: $nephritis;
  color: $white;
}

/* Alert button [RED] */
button.alert,
.button.alert {
  background-color: $alizarin;
  color: $white;
}

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
  background-color: $pomegranate;
  color: $white;
}

/* Warning button [ORANGE] */
button.warning,
.button.warning {
  background-color: $carrot;
  color: $white;
}

button.warning:hover,
button.warning:focus,
.button.warning:hover,
.button.warning:focus {
  background-color: $pumpkin;
  color: $white;
}

/** BUTTON SIZING **/
button.large,
.button.large {
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  @include font-size(18);
}

button.small,
.button.small {
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  @include font-size();
}

button.tiny,
.button.tiny {
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.25rem;
  @include font-size(14);
}

button.expand,
.button.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

/** BUTTON RADIUS **/
button.radius,
.button.radius {
  @include radius();
}

button.round,
.button.round {
  @include radius(1000px);
}

/** BUTTONS MEDIA QUERIES **/
@include breakpoint(mobile) {

  button,
  .button {
    display: inline-block;
  }

}

.flex {
  display: flex;
}

/**
 * 0.0 FORMS
 * ----------------------------------------------------------------------------
 */

/* Standard Forms */
form {
  margin: 0 0 1rem;
}

/* Using forms within rows, we need to set some defaults */
form .row .row {
  margin: 0 -0.5rem;
  .column {
    padding: 0 0.5rem;
  }
  &.collapse {
    margin: 0;
    .column {
      padding: 0;
    }
    input {
      @include radius(0);
    }
  }
}

form .row {
  input.column,
  textarea.column {
    padding-left: 0.5rem;
  }
}

/* Label Styles */
label {
  @include font-size();
  color: $grey_5;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  &.right {
    float: none !important;
    text-align: right;
  }
  &.inline {
    margin: 0 0 1rem 0;
    padding: 0.5625rem 0;
  }
  &.small {
    text-transform: capitalize;
  }
}

/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: visible;
  @include font-size();
  min-height: 2.3125rem;
  line-height: 2.3125rem;
}

/* Adjust padding, alignment and radius if pre/post element is a button */
.postfix.button,
.prefix.button {
  padding: {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  text-align: center;
  border: none;
  &.radius {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  &.round {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
  }
}

/* Separate prefix and postfix styles when on span or label so buttons keep their own */
span.prefix, label.prefix {
  background: $dark_white;
  border-right: none;
  color: $grey_5;
  border-color: $grey_c;
}

span.postfix, label.postfix {
  background: $dark_white;
  border-left: none;
  color: $grey_5;
  border-color: $grey_c;
}

/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: $white;
  font-family: inherit;
  font-weight: 300;
  border: solid 1px $grey_c;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  @include font-size();
  margin: 0 0 1rem 0;
  padding: 2rem;
  min-height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;
  &:focus {
    background: $dark_white;
    border-color: $grey_9;
    outline: none;
  }
  &:disabled {
    background-color: $grey_e;
    cursor: default;
  }
  &.radius {
    @include radius();
  }
}

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto;
}

/* Not allow resize out of parent */
textarea {
  max-width: 100%;
}

/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  border-radius: 0;
  background-color: $dark_white;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 1px solid $grey_c;
  padding: 0.5rem;
  @include font-size();
  font-family: $sans-serif;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
  min-height: 2.3125rem;
  &::-ms-expand {
    display: none;
  }
  &.radius {
    @include radius();
  }
  &:hover {
    background-color: $dark_white;
    border-color: $grey_9
  }
  &:disabled {
    background-color: $grey_e;
    cursor: default;
  }
}

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* Normalize file input width */
input[type="file"] {
  width: 100%;
}

/* HTML5 Number spinners settings */
/* We add basic fieldset styling */
fieldset {
  border: 1px solid $grey_e;
  padding: 1.25rem;
  margin: 1.125rem 0;
  legend {
    font-weight: bold;
    background: $white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem;
  }
}
